.hidden-nav {
    display: none;
}
.hidden {
    display: none;
}
:root {
    --transition-1: 0.5s ease;
    --transition-2: 0.3s ease;
    --radius-circle: 50%;
    --white: #ffffff;
    --smoky-black-3: #0a0a0a;
    --loading-text-gradient: linear-gradient(90deg, var(--white), var(--smoky-black-3));
    --weight-bold: 700;
}

body.overflow-hidden {
    overflow: hidden;
}

.hidden {
    display: none;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f4e7;
    z-index: 1000; /* Ensure this is higher than other elements */
    display: grid;
    place-content: center;
    justify-items: center;
    transition: transform var(--transition-2);
}

.preload > * {
    transition: opacity var(--transition-1);
}

.preload.loaded {
    transform: translateY(-100%);
}

.preload.loaded > * {
    opacity: 0;
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

.preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(1rem + 3vw); /* Adjust font size responsively */
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5vw; /* Adjust letter spacing responsively */
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--smoky-black-3); /* Stroke color adjusted to smoky black */
    animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
#about-logo {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fade-in 2s ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#about-logo {
    animation: fade-in 2s forwards;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}

.slide-in-top {
    animation: slide-in-top 0.5s ease-out forwards;
}
.overlay {
    background-color: rgba(4, 215, 243, 0.2);
    transition: background-color 0.5s;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hidden {
    display: none;
  }
.slide-in-top {
    animation: slide-in-top 0.5s ease-out forwards;
}
#view-less {
  display: none;
}

@keyframes slide-in-top {
            from {
                transform: translateY(-100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .slide-in-top {
            animation: slide-in-top 0.5s forwards;
        }

.fade-in {
    opacity: 0;
    animation: fadeIn 2.4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.count-animation {
            animation: count 2s ease-in-out;
        }

        @keyframes count {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
.slide-in-left {
    transform: translateX(-100%);
    animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in-down {
    transform: translateY(-100%);
    animation: slideInDown 1s forwards;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animation--grayscale-fade {
    to {
      filter: grayscale(0%);
    }
  }
  img.has--observer {
    filter: grayscale(100%);
  }
  img.has--observer.is--visible {
    animation: 0.8s animation--grayscale-fade ease-out forwards;
  }

#toggleNavBtnMobile {
  margin-left: auto; 
}
.logo-container {
    display: inline-block;
    margin-right: 20px;
}

.scrolling-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.scroll {
    display: inline-block;
    animation: scroll 20s linear infinite;
    transform: translateX(0); 
}

@keyframes scroll {
    0% { transform: translateX(0); } 
    100% { transform: translateX(calc(-200% - 20px)); } 
}



#projects .img-container img {
    transition: transform 0.3s ease;
}

#projects .img-container:hover img {
    transform: scale(1.05); /* Increase the size on hover */
}







